      <hr>

      <div class="footer">
        <p>&copy; Baiduyun Simple 2013</p>
      </div>

    </div>

  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</html>
