<%- include header %>
<div class = "page-header">
  <h1>Get Started</h1>
</div>
<p>Baiduyun Simple is a web service to decode the share link from baidu.</p>
<p>It's written by node.js, because node.js is very fast and node.js do well when there are many requests.</p>
<p>There is two simple way to use it. :)</p>
<h3>Make a Get method to get json</h3>
<p>You can make a get method include uk and shareid in the share link. Just like request though baidu API.</p>
<pre class="label label-info">TIP: the expire time of the link is not vrey long, you should request again when you use.</pre>
<p>Request Header</p>
<pre>{
  "shareid": // the shareid in the share link.
  "uk": // the uk in the share link.
}</pre>
<p>For Example,</p>
<p>If there is a link:</p>
<pre>http://yun.baidu.com/share/link?shareid=198923&uk=4281611514</pre>
<p>the request you should make is:</p>
<pre>http://localhost:3000/req?shareid=198923&uk=4281611514</pre>
<p>There is a json you get:</p>
<pre>
{
  "shareid": "198923",
  "uk": "4281611514",
  "error": false,
  "url": "http://d.pcs.baidu.com/file/47c00304b872a8ec6b07bda4867f005c?fid=4281611514-250528-2444335697&time=1380002913&sign=FDTAR-DCb740ccc5511e5e8fedcff06b081203-qQKjWvLyzmmKneKyFxhaCvOU4nM%3D&rt=sh&expires=8h&r=976394124&sh=1"
}
</pre>
<h3>Use web app</h3>
<p>There is a form in web app.</p>
<p>You can enter the url in the from and pos, and then you will get the link that is decoded</p>
<%- include footer %>
