<%- include header %>
<div class="jumbotron">
  <h1>Baiduyun Simple</h1>
  <p class="lead">Simply and easily decode the share link from baidu yun.</p>
  <a class="btn btn-large btn-success" href="#">Download</a>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Easy</h4>
      <p>The only thing need to do is post a link.</p>
    <h4>Free</h4>
      <p>Completely free.</p>
  </div>
  <div class="span6">
    <h4>Multiple way</h4>
      <p>You have two way to get link, from web app or post to get json.</p>
    <h4>Open Source</h4>
      <p>Complete open source under MIT</p>
  </div>
</div>


<%- include footer %>
